{
  "CN": "system:kube-scheduler",
  "key": {
    "algo": "{{ algo }}",
    "size": {{ size }}
  },
  "names": [
    {
      "C": "{{ C }}",
      "L": "{{ L }}",
      "O": "system:kube-scheduler",
      "OU": "CA",
      "ST": "{{ ST }}"
    }
  ]
}