---
- name: Ensure that pip3 is installed
  package:
    name: python3-pip
    state: present
    
- name: Ensure that k8s module is installed
  pip:
    name: openshift

- name: ClusterRole system:kube-apiserver-to-kubelet
  run_once: True
  community.kubernetes.k8s:
    state: present
    kubeconfig: admin.kubeconfig
    definition:
      apiVersion: rbac.authorization.k8s.io/v1beta1
      kind: ClusterRole
      metadata:
        annotations:
          rbac.authorization.kubernetes.io/autoupdate: "true"
        labels:
          kubernetes.io/bootstrapping: rbac-defaults
        name: system:kube-apiserver-to-kubelet
      rules:
        - apiGroups:
            - ""
          resources:
            - nodes/proxy
            - nodes/stats
            - nodes/log
            - nodes/spec
            - nodes/metrics
          verbs:
            - "*"

- name: ClusterRoleBinding system:kube-apiserver-to-kubelet
  run_once: True
  community.kubernetes.k8s:
    state: present
    kubeconfig: admin.kubeconfig
    definition:
      apiVersion: rbac.authorization.k8s.io/v1beta1
      kind: ClusterRoleBinding
      metadata:
        name: system:kube-apiserver
      roleRef:
        apiGroup: rbac.authorization.k8s.io
        kind: ClusterRole
        name: system:kube-apiserver-to-kubelet
      subjects:
        - apiGroup: rbac.authorization.k8s.io
          kind: User
          name: kubernetes
...