---
- name: Create Kubernetes config directory if it does not exist
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  with_items:
  - "{{ control_plane_cert_and_context_dir }}"
  - "{{ control_plane_conf_dir }}"

- name: render encryption-config.yaml
  when: etcd_encryption
  template:
    src: encryption-config.j2
    dest: "{{ control_plane_cert_and_context_dir }}/encryption-config.yaml"
  notify:
    - restart control plane

- name: Copy manifests
  copy:
    remote_src: yes
    src: "{{ item }}"
    dest: "{{ control_plane_cert_and_context_dir }}"
  with_items:
  - kube-controller-manager.kubeconfig
  - kube-scheduler.kubeconfig
  notify:
    - restart control plane

- name: Rendering scheduler config
  template:
    src: kube-scheduler.kubeconfig.j2
    dest: "{{ control_plane_conf_dir }}/kube-scheduler.yaml"
  notify: 
    - restart scheduler

- name: Rendering apiserver systemd-unit
  template:
    src: kube-apiserver.service.j2
    dest: "/etc/systemd/system/kube-apiserver.service"
  notify:
    - daemon-reload
    - enable apiserver
    - restart apiserver

- name: Rendering controller-manager systemd-unit
  template:
    src: kube-controller-manager.service.j2
    dest: "/etc/systemd/system/kube-controller-manager.service"
  notify: 
    - daemon-reload
    - enable controller_manager
    - restart controller_manager

- name: Rendering scheduler systemd-unit
  template:
    src: kube-scheduler.service.j2
    dest: "/etc/systemd/system/kube-scheduler.service"
  notify: 
    - daemon-reload
    - enable scheduler
    - restart scheduler

- name: Download kube-controller-manager
  get_url:
    url: https://storage.googleapis.com/kubernetes-release/release/v{{ kube_controller_manager_version }}/bin/linux/amd64/kube-controller-manager
    dest: /usr/local/bin/
    mode: '0751'
  notify:
    - restart controller_manager

- name: Download kube-scheduler
  get_url:
    url: https://storage.googleapis.com/kubernetes-release/release/v{{ kube_scheduler_version }}/bin/linux/amd64/kube-scheduler
    dest: /usr/local/bin/
    mode: '0751'
  notify:
    - restart scheduler

- name: Download kube-apiserver
  register: api_server
  get_url:
    url: https://storage.googleapis.com/kubernetes-release/release/v{{ kube_apiserver_version }}/bin/linux/amd64/kube-apiserver
    dest: /usr/local/bin/
    mode: '0751'
  notify:
    - restart apiserver

- name: Force all notified handlers to run at this point
  meta: flush_handlers

- name: Wait before kube-api starts listen on 6443
  when: api_server is changed
  wait_for:
    port: 6443
    delay: 20
    timeout: 100

- name: Check api is up
  uri:
    url: "https://127.0.0.1:6443/healthz"
    validate_certs: false
  register: response
  retries: 10
  delay: 5
  until: response.status == 200

...