{%- macro  etcd_hosts() -%}
{%- for host in groups['etcd'] -%}
https://{{hostvars[host]['ansible_host']}}:2379{% if not loop.last %},{% endif %}
{%- endfor -%} 
{%- endmacro -%}

{%- macro admission_plugins() -%}
{%- for plugin in enabled_admission_plugins -%}
{{ plugin }}{% if not loop.last %},{% endif %}
{%- endfor -%} 
{%- endmacro -%}

{%- macro feature_gates() -%}
{%- for feature in enabled_feature_gates -%}
{{ feature }}=True{% if not loop.last %},{% endif %}
{%- endfor -%} 
{%- endmacro -%}

[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-apiserver \
  --advertise-address={{ hostvars[inventory_hostname]['ansible_host'] }} \
  --allow-privileged=true \
  --apiserver-count={{ groups['k8s_control_plane'] | length }} \
  --audit-log-maxage={{ audit_log_maxage }} \
  --audit-log-maxbackup={{ audit_log_maxbackup }} \
  --audit-log-maxsize={{ audit_log_max_size }} \
  --audit-log-path=/var/log/audit.log \
  --authorization-mode=Node,RBAC \
  --bind-address=0.0.0.0 \
  --client-ca-file={{cert_dir}}/ca.pem \
  --enable-admission-plugins={{ admission_plugins() }} \
  --etcd-cafile={{cert_dir}}/ca.pem \
  --etcd-certfile={{cert_dir}}/kubernetes.pem \
  --etcd-keyfile={{cert_dir}}/kubernetes-key.pem \
  --etcd-servers={{ etcd_hosts() }} \
  --event-ttl={{ event_ttl }} \
{% if etcd_encryption %}
  --encryption-provider-config={{ control_plane_cert_and_context_dir }}/encryption-config.yaml \
{% endif %}
{% if enabled_feature_gates %}
  --feature-gates={{ feature_gates() }} \
{% endif %}
  --kubelet-certificate-authority={{cert_dir}}/ca.pem \
  --kubelet-client-certificate={{cert_dir}}/kubernetes.pem \
  --kubelet-client-key={{cert_dir}}/kubernetes-key.pem \
  --runtime-config='api/all=true' \
  --service-account-key-file={{cert_dir}}/service-account.pem \
  --service-cluster-ip-range={{ service_cluster_ip_range }} \
  --service-node-port-range={{ node_port_range }} \
  --tls-cert-file={{cert_dir}}/kubernetes.pem \
  --tls-private-key-file={{cert_dir}}/kubernetes-key.pem \
  --service-account-signing-key-file={{cert_dir}}/service-account-key.pem \
  --service-account-issuer=api \
  --enable-aggregator-routing=true \
  --proxy-client-cert-file={{cert_dir}}/front-proxy-client.pem \
  --proxy-client-key-file={{cert_dir}}/front-proxy-client-key.pem \
  --requestheader-client-ca-file={{cert_dir}}/front-proxy-ca.pem \
  --requestheader-extra-headers-prefix=X-Remote-Extra- \
  --requestheader-group-headers=X-Remote-Group \
  --requestheader-username-headers=X-Remote-User \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target