apiVersion: kubescheduler.config.k8s.io/v1alpha1
kind: KubeSchedulerConfiguration
clientConnection:
  kubeconfig: "{{ control_plane_cert_and_context_dir }}/kube-scheduler.kubeconfig"
leaderElection:
  leaderElect: true