---
- name: Distribute workers Certificates
  copy:
    src: "{{ tmp_data_dir }}/{{ item }}"
    dest: ~/
    remote_src: no
  when: groups['k8s_worker'] is defined and inventory_hostname in groups['k8s_worker']
  with_items:
  - "ca.pem"
  - "front-proxy-ca.pem"
  - "kube-proxy.pem"
  - "kube-proxy-key.pem" 
  - "{{ inventory_hostname }}-key.pem"
  - "{{ inventory_hostname }}.pem"

- name: Distribute controlplane Certificates
  copy:
    src: "{{ tmp_data_dir }}/{{ item }}"
    dest: ~/
    remote_src: no
  when: groups['k8s_control_plane'] is defined and inventory_hostname in groups['k8s_control_plane']
  with_items:
  - ca.pem
  - ca-key.pem
  - front-proxy-ca.pem
  - front-proxy-ca-key.pem
  - kubernetes-key.pem
  - kubernetes.pem
  - front-proxy-client.pem
  - front-proxy-client-key.pem
  - service-account-key.pem
  - service-account.pem
  - kube-controller-manager.pem
  - kube-controller-manager-key.pem
  - kube-scheduler.pem
  - kube-scheduler-key.pem
  - admin.pem
  - admin-key.pem
...