---
- name: Check cfssl exists
  stat:
    path: /usr/local/bin/cfssl
  register: cfssl_exist

- name: Check cfssljson exists
  stat:
    path: /usr/local/bin/cfssljson
  register: cfssljson_exist

- name: Check kubectl exists
  stat:
    path: /usr/local/bin/cfssljson
  register: kubectl_exist

- name: Download cfssl
  when: not cfssl_exist.stat.exists
  local_action:
    module: get_url
    url: https://storage.googleapis.com/kubernetes-the-hard-way/cfssl/{{ cfssl_version }}/linux/cfssl
    dest: /usr/local/bin/
    mode: '0751'

- name: Download cfssljson
  when: not cfssljson_exist.stat.exists
  local_action:
    module: get_url
    url: https://storage.googleapis.com/kubernetes-the-hard-way/cfssl/{{ cfssljson_version }}/linux/cfssljson
    dest: /usr/local/bin/
    mode: '0751'

- name: Download kubectl
  when: not kubectl_exist.stat.exists
  local_action:
    module: get_url
    url: https://storage.googleapis.com/kubernetes-release/release/v{{ kubectl_version }}/bin/linux/amd64/kubectl
    dest: /usr/local/bin/
    mode: '0751'


...