---
# defaults file for k8s_certs
cfssl_version: 1.4.1
cfssljson_version: 1.4.1

# Cert data

C: RU
L: Ekaterinburg
ST: Ekaterinburg
algo: rsa
size: 2048
expiry: 9900h

# temp data dir
cert_dir:  /etc/kubernetes/ssl

kubernetes_public_address: hardway
cluster_name: hardway
# Cert hostnames of API
kubernetes_hostnames: kubernetes,kubernetes.default,kubernetes.default.svc,kubernetes.default.svc.{{cluster_name}},kubernetes.svc.{{cluster_name}}.local