---
# defaults file for k8s_certs
cfssl_version: 1.4.1
cfssljson_version: 1.4.1

# Cert data
CN: Kubernetes
C: RU
L: Ekaterinburg
O: Kubernetes
OU: CA
ST: Ekaterinburg
algo: rsa
size: 2048
expiry: 9000h

# temp data dir
tmp_data_dir:  /tmp/kubernetes-files

# Cert hostnames of API
kubernetes_hostnames: kubernetes,kubernetes.default,kubernetes.default.svc,kubernetes.default.svc.cluster,kubernetes.svc.cluster.local